<template>
    <div>
        <ValidationObserver v-slot="{ invalid }">
            <v-row justify="start" align="center" class="pt-4 pb-10">
                <v-col md="6" cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Numero de cuartos 
                    </h3>
                    <ValidationProvider name="Numero de cuartos" rules="required" v-slot="{ errors }">
                        <v-text-field
                            dense
                            outlined
                            persistent-placeholder
                            type="number"
                            placeholder="ingrese el numero de cuartos"
                            @keypress="isNumber($event)"
                            min="0"
                            :error-messages="errors[0]"
                            v-model.trim="data.n_rooms"
                            >
                        </v-text-field>
                    </ValidationProvider>
                </v-col>
                <v-col md="6" cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Numero de habitantes 
                    </h3>
                    <ValidationProvider name="Numero de habitantes" rules="required" v-slot="{ errors }">
                        <v-text-field
                            dense
                            outlined
                            persistent-placeholder
                            type="number"
                            placeholder="ingrese el numero de habitantes"
                            @keypress="isNumber($event)"
                            min="0"
                            :error-messages="errors[0]"
                            v-model.trim="data.n_population"
                            >
                        </v-text-field>
                    </ValidationProvider>
                </v-col>
                <v-col md="6" cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Numero de baños 
                    </h3>
                    <ValidationProvider name="Numero de baños" rules="required" v-slot="{ errors }">
                        <v-text-field
                            dense
                            outlined
                            persistent-placeholder
                            type="number"
                            placeholder="ingrese el numero de baños"
                            @keypress="isNumber($event)"
                            min="0"
                            :error-messages="errors[0]"
                            v-model.trim="data.n_bathrooms"
                            >
                        </v-text-field>
                    </ValidationProvider>
                </v-col>
                <v-col md="6" cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Numero de hogar 
                    </h3>
                    <ValidationProvider name="Numero de hogar" rules="required" v-slot="{ errors }">
                        <v-text-field
                            dense
                            outlined
                            persistent-placeholder
                            type="number"
                            placeholder="ingrese el numero de hogar"
                            @keypress="isNumber($event)"
                            min="0"
                            :error-messages="errors[0]"
                            v-model.trim="data.n_home"
                            >
                        </v-text-field>
                    </ValidationProvider>
                </v-col>
                <v-col md="6" cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Calle
                    </h3>
                    <ValidationProvider name="Calle" rules="required" v-slot="{ errors }">
                        <v-text-field
                            dense
                            outlined
                            persistent-placeholder
                            type="text"
                            placeholder="ingrese el nombre de la calle"
                            :error-messages="errors[0]"
                            v-model.trim="data.street"
                            >
                        </v-text-field>
                    </ValidationProvider>
                </v-col>
                <v-col md="6" cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Cuadra
                    </h3>
                    <ValidationProvider name="Cuadra" rules="required" v-slot="{ errors }">
                        <v-select
                            placeholder="Seleccione la cuadra"
                            persistent-placeholder
                            outlined
                            :error-messages="errors[0]"
                            dense
                            :items="typeSquares"
                            v-model="data.square"
                        ></v-select>
                    </ValidationProvider>
                </v-col>
                <v-col cols="12" class="d-flex justify-end">
                    <v-btn
                    outlined
                    color="primary"
                    class="mr-3"
                    @click="$router.back()"
                    >
                        Cancelar
                    </v-btn>
                    <v-btn
                    color="primary"
                    :disabled="invalid"
                    v-if="!isEditing"
                    @click="registerHome()"
                    >
                        Registrar hogar
                    </v-btn>
                    <v-btn
                    v-else
                    color="primary"
                    :disabled="invalid"
                    @click="editHomeButton()"
                    >
                        Editar hogar
                    </v-btn>
                </v-col>
            </v-row>
        </ValidationObserver>
    </div>
</template>

<script>
import {mapState,/*mapMutations,*/mapActions} from 'vuex';

export default {
    props:{
        isEditing:{
            type:Boolean,
            default:false
        }
    },
    data(){
        return{
            data:{
                n_rooms: '',
                n_population: '',
                n_bathrooms: '',
                n_home: '',
                street: "",
                square: "A"
            },
            typeSquares:[
                'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H' 
            ]
        }
    },

    computed:{
        ...mapState('homes',['home'])
    },

    methods:{
        ...mapActions('homes',['saveHome','getOneHome','editHome']),
        isNumber(e) {
            let char = String.fromCharCode(e.keyCode); // Get the character
            if(/^[0-9]+$/i.test(char))return true; // Match with regex 
            else e.preventDefault(); // If not match, don't add to input text
        },
        registerHome(){
            let data = {
                n_rooms:Number(this.data.n_rooms),
                n_population: Number(this.data.n_population),
                n_bathrooms: Number(this.data.n_bathrooms),
                n_home: Number(this.data.n_home),
                street: this.data.street,
                square: this.data.square
            }
            this.saveHome(data).then((res) => {
                this.$swal.fire({
                    icon: 'success',
                    title: `Hogar registrado con exito`,
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
                this.$router.push('/admin/homes')
            })
            .catch((error) => {
                console.error(error,'error while saving home')
                this.$swal.fire({
                    icon: 'error',
                    title: `Ha ocurrido un error al registrar el hogar`,
                    text:'',
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
            })
        },

        getInfoHome(){
            this.getOneHome(this.$route.params.id).then((res) => {
                //console.log(this.home,'aaaaa')
                this.data.n_rooms = this.home.n_rooms
                this.data.n_population = this.home.n_population
                this.data.n_bathrooms = this.home.n_bathrooms
                this.data.n_home = this.home.n_home
                this.data.street = this.home.street
                this.data.square = this.home.square
            })
            .catch((error) => {
                console.error(error,'error while saving home')
                this.$router.push('/admin/homes')
            })
        },

        editHomeButton(){
            let data = {
                n_rooms:Number(this.data.n_rooms),
                n_population: Number(this.data.n_population),
                n_bathrooms: Number(this.data.n_bathrooms),
                n_home: Number(this.data.n_home),
                street: this.data.street,
                square: this.data.square,
                id:this.$route.params.id
            }       
            this.editHome(data).then((res) => {
                this.$swal.fire({
                    icon: 'success',
                    title: `Hogar editado con exito`,
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
                this.$router.push('/admin/homes')
            })
            .catch((error) => {
                console.error(error,'error while saving home')
                this.$swal.fire({
                    icon: 'error',
                    title: `Ha ocurrido un error al editar el hogar`,
                    text:'',
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
            })
        }
    },
    async created(){
        if(this.isEditing){
            this.getInfoHome()
        }
    }
}
</script>