<template>
    <div>
        <ValidationObserver v-slot="{ invalid }">
            <v-row justify="start" align="center" class="pt-4 pb-10">
                 <v-col  cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Habitante
                    </h3>
                    <ValidationProvider name="Habitante" rules="required" v-slot="{ errors }">
                        <div class="d-flex"  :class="($vuetify.breakpoint.xsOnly) ? 'flex-column' : ''">
                            <v-text-field
                                dense
                                outlined
                                disabled
                                :filled="namePerson == ''"
                                persistent-placeholder
                                type="text"
                                placeholder="Por favor selecione un habitante"
                                :error-messages="errors[0]"
                                v-model.trim="namePerson"
                                >
                            </v-text-field>
                            <v-btn
                                color="primary"
                                class="ml-0 mb-4 ml-sm-4 mb-sm-0"
                                @click="dialogPersons=true"
                                >
                                    Buscar habitante
                            </v-btn>
                        </div>
                    </ValidationProvider>
                </v-col>
                <v-col cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Hogar 
                    </h3>
                    <ValidationProvider name="Hogar" rules="required" v-slot="{ errors }">
                        <div class="d-flex"  :class="($vuetify.breakpoint.xsOnly) ? 'flex-column' : ''">
                            <v-text-field
                            dense
                            outlined
                            disabled
                            :filled="nameHome == ''"
                            persistent-placeholder
                            type="text"
                            placeholder="Por favor seleccione un hogar"
                            :error-messages="errors[0]"
                            v-model.trim="nameHome"
                            >
                            </v-text-field>
                            <v-btn
                            color="primary"
                            class="ml-0 mb-4 ml-sm-4 mb-sm-0"
                            @click="dialogHomes=true"
                            >
                                Buscar hogar
                            </v-btn>
                        </div>
                    </ValidationProvider>
                </v-col>
                <v-col md="6" cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Numero de telefono
                    </h3>
                    <ValidationProvider name="Numero de telefono" rules="required" v-slot="{ errors }">
                        <v-text-field
                            dense
                            outlined
                            @keypress="isNumber($event)"
                            persistent-placeholder
                            type="text"
                            placeholder="ingrese el numero de telefono"
                            :error-messages="errors[0]"
                            v-model.trim="data.numberPhone"
                            >
                        </v-text-field>
                    </ValidationProvider>
                </v-col>
               
                <v-col  cols="12" md="6" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Tipo de propiedad
                    </h3>
                    <ValidationProvider name="Tipo de propiedad" rules="required" v-slot="{ errors }">
                        <v-select
                            placeholder="Seleccione el tipo de propiedad"
                            persistent-placeholder
                            outlined
                            :error-messages="errors[0]"
                            dense
                            :items="typesProperty"
                            v-model="data.property"
                        ></v-select>
                    </ValidationProvider>
                </v-col>
                <v-col cols="12" class="d-flex justify-end">
                    <v-btn
                    outlined
                    color="primary"
                    class="mr-3"
                    @click="$router.back()"
                    >
                        Cancelar
                    </v-btn>
                    <v-btn
                    color="primary"
                    :disabled="invalid"
                    v-if="!isEditing"
                    @click="registerFamilyChief()"
                    >
                        Registrar jefe de familia
                    </v-btn>
                    <v-btn
                    v-else
                    color="primary"
                    :disabled="invalid"
                    @click="editFamilyChiefsButton()"
                    >
                        Editar jefe de familia
                    </v-btn>
                </v-col>
            </v-row>
        </ValidationObserver>
        <v-dialog v-model="dialogPersons" max-width="1200" >
            <v-card class="py-8 px-8">
                <v-card-text class="text-center text-h5 font-weight-bold black--text">Selecione un habitante</v-card-text>
                <data-table
                    :headers="headersPersons"
                    :items="persons" 
                    :loading="loadingPersons"
                    @clickSelect="selectPerson($event)"       
                    :viewBtn="false"
                    :editBtn="false"
                    :deleteBtn="false"
                    :selectBtn="true"
                    :perPage="5"
                />
                <div class="d-flex justify-end pt-7" >
                    <v-btn color="primary" outlined @click="dialogPersons=false">Cerrar</v-btn>
                </div>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogHomes" max-width="1200" >
              <v-card class="py-8 px-8">
                <v-card-text class="text-center text-h5 font-weight-bold black--text">Selecione un hogar</v-card-text>
                <data-table
                    :headers="headersHomes"
                    :items="homes" 
                    :loading="loadingHomes"
                    @clickSelect="selectHome($event)"       
                    :viewBtn="false"
                    :editBtn="false"
                    :deleteBtn="false"
                    :selectBtn="true"
                    :perPage="5"
                />
                <div class="d-flex justify-end pt-7" >
                    <v-btn color="primary" outlined @click="dialogHomes=false">Cerrar</v-btn>
                </div>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import {mapState,/*mapMutations,*/mapActions} from 'vuex';


export default {
    props:{
        isEditing:{
            type:Boolean,
            default:false
        }
    },
    data(){
        return{
            data:{
                person: '',
                numberPhone: '',
                property: 'Propietario',
                home: '',
            },
            namePerson:'',
            nameHome:'',
            typesProperty:[
                'Propietario','Alquilado'
            ],
            dialogHomes:false,
            dialogPersons:false,
            headersPersons: [
                /*{ text: "ID", value: 'id',sortable:true},*/
                { text: "Cedula", value: 'dni',sortable:true},
                { text: "Nombres", value: 'name',sortable:true},
                { text: "Apellidos", value: 'lastName',sortable:true},
                { text: "Fecha de nacimiento", value: 'bornDate',sortable:true},
                { text: "Genero", value: 'gender',sortable:true},
                { text: "Acciones", value: 'actions',sortable:false},
            ],
            headersHomes: [
                /*{ text: "ID", value: 'id',sortable:true},*/
                { text: "N° de hogar", value: 'n_home',sortable:true},
                { text: "Calle", value: 'street',sortable:true},
                { text: "Cuadra", value: 'square',sortable:true},
                { text: "N° de habitantes", value: 'n_population',sortable:true},
                { text: "N° de cuartos", value: 'n_rooms',sortable:true},
                { text: "N° de baños", value: 'n_bathrooms',sortable:true},
                { text: "Acciones", value: 'actions',sortable:false},
            ],
        }
    },

    computed:{
        ...mapState('familyChiefs',['familyChief']),
        ...mapState('homes',['homes']),
        ...mapState("homes", {
            loadingHomes: (state) => state.loading,
        }),
        ...mapState('persons',['persons']),
        ...mapState("persons", {
            loadingPersons: (state) => state.loading,
        }),
    },

    methods:{
        ...mapActions('familyChiefs',['saveFamilyChief','getOneFamilyChief','editFamilyChief']),
        ...mapActions('homes',['listHomes']),
        ...mapActions('persons',['listPersons']),
        isNumber(e) {
            let char = String.fromCharCode(e.keyCode); // Get the character
            if(/^[0-9]+$/i.test(char))return true; // Match with regex 
            else e.preventDefault(); // If not match, don't add to input text
        },
        selectPerson(person){
            this.data.person = person.id
            this.namePerson = person.name + ' ' + person.lastName
            this.dialogPersons = false
        },
        selectHome(home){
            this.data.home = home.id
            this.nameHome = 'N°: ' + home.n_home + ' - Calle: ' + home.street + ' - Cuadra: ' + home.square
            this.dialogHomes = false
        },
        registerFamilyChief(){
            this.saveFamilyChief(this.data).then((res) => {
                this.$swal.fire({
                    icon: 'success',
                    title: `Jefe de familia registrado con exito`,
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
                this.$router.push('/admin/familyChiefs')
            })
            .catch((error) => {
                console.error(error,'error while saving familyChief')
                let text = 'Ha ocurrido un error al registrar el Jefe de familia'
                if(error.code == 23505){
                    text = `El habitante: ${this.namePerson} ya se encuentra asignado un hogar`
                }
                this.$swal.fire({
                    icon: 'error',
                    title: text,
                    text:'',
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
            })
        },

        getInfoFamilyChief(){
            this.getOneFamilyChief(this.$route.params.id).then((res) => {
                //console.log(this.home,'aaaaa')
                this.data.id = this.familyChief.person.id
                this.data.person = this.familyChief.person.id
                this.data.numberPhone = this.familyChief.numberPhone
                this.data.property = this.familyChief.property
                this.data.home = this.familyChief.home.id

                this.namePerson = this.familyChief.person.name + ' ' + this.familyChief.person.lastName
                this.nameHome = 'N°: ' + this.familyChief.home.n_home + ' - Calle: ' 
                + this.familyChief.home.street + ' - Cuadra: ' + this.familyChief.home.square
            })
            .catch((error) => {
                console.error(error,'error while getting familyChief')
                this.$router.push('/admin/familyChiefs')
            })
        },

        editFamilyChiefsButton(){
            this.editFamilyChief(this.data).then((res) => {
                this.$swal.fire({
                    icon: 'success',
                    title: `Jefe de familia editado con exito`,
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
                this.$router.push('/admin/familyChiefs')
            })
            .catch((error) => {
                console.error(error,'error while editing familyChief')
                let text = 'Ha ocurrido un error al editar el Jefe de familia'
                if(error.code == 23505){
                    text = `El habitante: ${this.namePerson} ya se encuentra asignado un hogar`
                }
                this.$swal.fire({
                    icon: 'error',
                    title: text,
                    text:'',
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
            })
        }
    },
    async created(){
        if(this.isEditing){
            Promise.all([this.listHomes(),this.listPersons(),this.getInfoFamilyChief()]).then(values=>{
            //console.log(values)
            })
        }
        else{
            Promise.all([this.listHomes(),this.listPersons()]).then(values=>{
            //console.log(values)
            })
        }
    }
}
</script>