<template>
  <v-row justify="center" align="center" class="">
    <v-col cols="12" class="d-flex justify-space-between mt-1">
      <go-back-button/>
      <bread-crumbs :items="breadcrumbsItems"/>
    </v-col>
    <v-col cols="12" class="px-6 pt-0">
      <v-card elevation="9" class="px-8 pb-8">
          <div class="d-flex justify-center justify-sm-space-between align-end pt-5" :class="($vuetify.breakpoint.xsOnly) ? 'flex-column' : ''">
              <v-card-text class="text-h4 black--text font-weight-bold px-0 pb-7 pb-sm-3 text-center
              text-sm-left">Panel principal</v-card-text>
          </div>
      </v-card>
    </v-col>
  </v-row>
</template>


<script>

import GoBackButton from '@/components/GoBackButton.vue';
import BreadCrumbs from '@/components/BreadCrumbs.vue';

export default {
  components:{
    GoBackButton,
    BreadCrumbs,
  },

  data(){
    return{
       breadcrumbsItems: [ //props de el breadcrumbs
          {
          text: 'Panel principal',
          disabled: true,
          href: '#',
          },
      ],
    }
  },

  computed:{

  },

  methods:{
 
  },

  async created(){
    
  }
}
</script>