<template>
    <v-row justify="center" align="center" class="">
    <v-col cols="12" class="d-flex justify-space-between mt-1">
      <go-back-button/>
      <bread-crumbs :items="breadcrumbsItems"/>
    </v-col>
    <v-col cols="12" class="px-6 pt-0">
      <v-card elevation="9" class="px-8 pb-8">
          <div class="d-flex justify-center justify-sm-space-between align-end pt-5" :class="($vuetify.breakpoint.xsOnly) ? 'flex-column' : ''">
              <v-card-text class="text-h4 black--text font-weight-bold px-0 pb-7 pb-sm-3 text-center
              text-sm-left">Cambiar Contraseña</v-card-text>
          </div>
            <ValidationObserver  v-slot="{ invalid }">             
                <v-row class=" pt-6">
                    <v-col cols="12" md="6" class="py-0">
                        <ValidationProvider name="Nueva contraseña" vid="confirmation2"  rules="confirmed:confirmation|required|min:8" v-slot="{ errors }">
                            <h3 class="font-weight-medium">
                                Nueva contraseña
                            </h3>
                            <v-text-field
                                dense
                                outlined
                                persistent-placeholder
                                type="password"
                                placeholder="Ingrese su nueva contraseña"
                                v-model.trim="data.newPassword" 
                                :error-messages="errors[0]"
                                maxlength="50"
                            />      
                        </ValidationProvider>
                    </v-col>

                    <v-col cols="12" md="6" class="py-0">
                        <ValidationProvider name="Confirmar nueva contraseña" vid="confirmation" rules="confirmed:confirmation2|required|min:8" v-slot="{ errors }">
                            <h3 class="font-weight-medium">
                                Confirmar nueva contraseña
                            </h3>
                            <v-text-field
                                dense
                                outlined
                                persistent-placeholder
                                type="password"
                                placeholder="Confirme su nueva contraseña"
                                v-model.trim="confirmation" 
                                :error-messages="errors[0]"
                                maxlength="50"
                            />      
                        </ValidationProvider>
                    </v-col> 
                    <v-col cols="12" class="d-flex justify-end">
                        <v-btn color="primary" class="px-8" :disabled="invalid" @click="goToUpdate">Actualizar contraseña</v-btn>
                    </v-col>                                            
                </v-row>
            </ValidationObserver>
      </v-card>
    </v-col>
    <loading-overlay :overlay="overlay"/>
  </v-row>
</template>

<script>

import {mapState,/*mapMutations,*/mapActions} from 'vuex';
import GoBackButton from '@/components/GoBackButton.vue';
import BreadCrumbs from '@/components/BreadCrumbs.vue';
import LoadingOverlay from '@/components/LoadingOverlay.vue';

export default {
  components:{
    GoBackButton,
    BreadCrumbs,
    LoadingOverlay
  },

  mounted(){
      console.log(this.$auth.user,'aaaaaaaa')
  },

  data(){
    return{
       breadcrumbsItems: [ //props de el breadcrumbs
          {
          text: 'Cambiar Contraseña',
          disabled: true,
          href: '/admin/persons',
          },
      ],
        data:{
            newPassword:''
        },
        confirmation:''
    }
  },

  computed:{
    ...mapState('users',['overlay']),
  },

  methods:{
    ...mapActions('users',['editUser',]),
    goToUpdate(){
        this.$swal.fire({
            title: `¿Está seguro de actualizar su contraseña?`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
              this.updatePassword()
            }
        })
    },
    updatePassword(){
      let jsonUser = {
        id:this.$auth.user.user.id,
        personId:this.$auth.user.user.person.id,
        email:this.$auth.user.user.email,
        password:this.data.newPassword
      }
       this.editUser(jsonUser).then((res) => {
          this.$router.push(`/admin`)
          this.$swal.fire({
              icon: 'success',
              title: `Contraseña actualizada con exito`,
              showConfirmButton: false,
              timer: 5000,
              position: 'bottom-end',
              timerProgressBar: true,
              toast: true,
              showCloseButton: true
          })
      })
      .catch((error) => {
          console.error(error,'error while updating password')
          let text = 'Ha ocurrido un error al editar la contraseña'
            /*if(error.statusCode == 500){
                text = `El habitante: ${person.name + ' ' + person.lastName } tiene registros asignados`
            }*/
          this.$swal.fire({
              icon: 'error',
              title: text,
              text:'',
              showConfirmButton: false,
              timer: 5000,
              position: 'bottom-end',
              timerProgressBar: true,
              toast: true,
              showCloseButton: true
          })
      })
    }
  },
}
</script>