<template>
  <v-row justify="center" align="center" class="">
    <v-col cols="12" class="d-flex justify-space-between mt-1">
      <go-back-button/>
      <bread-crumbs :items="breadcrumbsItems"/>
    </v-col>
    <v-col cols="12" class="px-6 pt-0">
      <v-card elevation="9" class="px-8">
          <div class="d-flex justify-space-between align-end pt-5">
              <v-card-text class="text-h4 black--text font-weight-bold px-0">Registrar habitante</v-card-text>
          </div>
          <person-form/>
      </v-card>
    </v-col>
    <loading-overlay :overlay="overlay"/>
  </v-row>
</template>

<script>
import {mapState,/*mapMutations,mapActions*/} from 'vuex';
import GoBackButton from '@/components/GoBackButton.vue';
import BreadCrumbs from '@/components/BreadCrumbs.vue';
import LoadingOverlay from '@/components/LoadingOverlay.vue';
import PersonForm from '@/components/admin/persons/PersonForm.vue';

export default {
  components:{
    GoBackButton,
    BreadCrumbs,
    PersonForm,
    LoadingOverlay
  },

  data(){
    return{
       breadcrumbsItems: [ //props de el breadcrumbs
          {
          text: 'Habitantes',
          disabled: false,
          href: '/admin/persons',
          },
          {
          text: 'Registrar Habitante',
          disabled: true,
          href: '#',
          },
      ],
    }
  },
  computed:{
    ...mapState('persons',['overlay']),
  },
  methods:{
  },
  async created(){
  }
}
</script>