<template>
  <v-row justify="center" align="center" class="">
    <v-col cols="12" class="d-flex justify-space-between mt-1">
      <go-back-button/>
      <bread-crumbs :items="breadcrumbsItems"/>
    </v-col>
    <v-col cols="12" class="px-6 pt-0">
      <v-card elevation="9" class="px-8 pb-8">
          <div class="d-flex justify-center justify-sm-space-between align-end pt-5" :class="($vuetify.breakpoint.xsOnly) ? 'flex-column' : ''">
              <v-card-text class="text-h4 black--text font-weight-bold px-0 pb-7 pb-sm-3 text-center
              text-sm-left">Listado de habitantes</v-card-text>
              <v-btn outlined color="primary" to="/admin/persons/create">Registrar habitante</v-btn>
          </div>
          <data-table
            :headers="headers"
            :items="persons" 
            :loading="loading"
            @clickView="goToView($event)"       
            @clickEdit="goToEdit($event)"                         
            @clickDelete="goToDelete($event)"
            :viewBtn="false"
        />
      </v-card>
    </v-col>
    <loading-overlay :overlay="overlay"/>
  </v-row>
</template>

<script>
import {mapState,/*mapMutations,*/mapActions} from 'vuex';
import GoBackButton from '@/components/GoBackButton.vue';
import DataTable from '@/components/DataTable.vue';
import BreadCrumbs from '@/components/BreadCrumbs.vue';
import LoadingOverlay from '@/components/LoadingOverlay.vue';

export default {
  components:{
    GoBackButton,
    BreadCrumbs,
    DataTable,
    LoadingOverlay
  },

  data(){
    return{
       breadcrumbsItems: [ //props de el breadcrumbs
          {
          text: 'Habitantes',
          disabled: false,
          href: '/admin/persons',
          },
          {
          text: 'Listar habitantes',
          disabled: true,
          href: '#',
          },
      ],
      headers: [
          /*{ text: "ID", value: 'id',sortable:true},*/
          { text: "Cedula", value: 'dni',sortable:true},
          { text: "Nombres", value: 'name',sortable:true},
          { text: "Apellidos", value: 'lastName',sortable:true},
          { text: "Fecha de nacimiento", value: 'bornDate',sortable:true},
          { text: "Genero", value: 'gender',sortable:true},
          { text: "Acciones", value: 'actions',sortable:false},
      ],
    }
  },

  computed:{
    ...mapState('persons',['persons','loading','overlay']),
  },

  methods:{
    ...mapActions('persons',['listPersons','destroyPerson']),
    goToEdit(person){
      this.$router.push(`/admin/persons/${person.id}/edit`)
    },
    goToDelete(person){
        this.$swal.fire({
            title: `¿Está seguro de borrar el habitante seleccionado?`,
            text: "Esta acción no podrá ser revertida.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
              this.deletePerson(person)
            }
        })
    },
    deletePerson(person){
       this.destroyPerson(person.id).then((res) => {
          this.$swal.fire({
              icon: 'success',
              title: `Habitante eliminado con exito`,
              showConfirmButton: false,
              timer: 5000,
              position: 'bottom-end',
              timerProgressBar: true,
              toast: true,
              showCloseButton: true
          })
      })
      .catch((error) => {
          console.error(error,'error while deleting home')
          let text = 'Ha ocurrido un error al eliminar el habitante'
            if(error.statusCode == 500){
                text = `El habitante: ${person.name + ' ' + person.lastName } tiene registros asignados`
            }
          this.$swal.fire({
              icon: 'error',
              title: text,
              text:'',
              showConfirmButton: false,
              timer: 5000,
              position: 'bottom-end',
              timerProgressBar: true,
              toast: true,
              showCloseButton: true
          })
      })
    }
  },

  async created(){
    await this.listPersons()
  }
}
</script>