<template>
    <div>
        <ValidationObserver v-slot="{ invalid }">
            <v-row justify="start" align="center" class="pt-4 pb-10">
                 <v-col  cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Habitante
                    </h3>
                    <ValidationProvider name="Habitante" rules="required" v-slot="{ errors }">
                        <div class="d-flex"  :class="($vuetify.breakpoint.xsOnly) ? 'flex-column' : ''">
                            <v-text-field
                                dense
                                outlined
                                readonly
                                :filled="namePerson == ''"
                                persistent-placeholder
                                type="text"
                                placeholder="Por favor selecione un habitante"
                                :error-messages="errors[0]"
                                v-model.trim="namePerson"
                                >
                            </v-text-field>
                            <v-btn
                                color="primary"
                                class="ml-0 mb-4 ml-sm-4 mb-sm-0"
                                @click="dialogPersons=true"
                                >
                                    Buscar habitante
                            </v-btn>
                        </div>
                    </ValidationProvider>
                </v-col>
                <v-col cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Jefe de familia 
                    </h3>
                    <ValidationProvider name="Jefe de familia" rules="required" v-slot="{ errors }">
                        <div class="d-flex"  :class="($vuetify.breakpoint.xsOnly) ? 'flex-column' : ''">
                            <v-text-field
                            dense
                            outlined
                            readonly
                            :filled="nameChief == ''"
                            persistent-placeholder
                            type="text"
                            placeholder="Por favor seleccione un jefe de familia"
                            :error-messages="errors[0]"
                            v-model.trim="nameChief"
                            >
                            </v-text-field>
                            <v-btn
                            color="primary"
                            class="ml-0 mb-4 ml-sm-4 mb-sm-0"
                            @click="dialogChiefs=true"
                            >
                                Buscar Jefe de familia
                            </v-btn>
                        </div>
                    </ValidationProvider>
                </v-col>
               
                <v-col  cols="12" md="8" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Relacion con el jefe de familia
                    </h3>
                    <ValidationProvider name="Relacion con el jefe de familia" rules="required" v-slot="{ errors }">
                        <v-select
                            placeholder="Seleccione el tipo de propiedad"
                            persistent-placeholder
                            outlined
                            :error-messages="errors[0]"
                            dense
                            :items="typesRelationships"
                            v-model="data.relationship"
                        ></v-select>
                    </ValidationProvider>
                </v-col>
                <v-col cols="12" class="d-flex justify-end">
                    <v-btn
                    outlined
                    color="primary"
                    class="mr-3"
                    @click="$router.back()"
                    >
                        Cancelar
                    </v-btn>
                    <v-btn
                    color="primary"
                    :disabled="invalid"
                    v-if="!isEditing"
                    @click="registerFamilyGroup()"
                    >
                        Registrar grupo familiar
                    </v-btn>
                    <v-btn
                    v-else
                    color="primary"
                    :disabled="invalid"
                    @click="editFamilyGroupButton()"
                    >
                        Editar grupo familiar
                    </v-btn>
                </v-col>
            </v-row>
        </ValidationObserver>
        <v-dialog v-model="dialogPersons" max-width="1200" >
            <v-card class="py-8 px-8">
                <v-card-text class="text-center text-h5 font-weight-bold black--text">Selecione un habitante</v-card-text>
                <data-table
                    :headers="headersPersons"
                    :items="persons" 
                    :loading="loadingPersons"
                    @clickSelect="selectPerson($event)"       
                    :viewBtn="false"
                    :editBtn="false"
                    :deleteBtn="false"
                    :selectBtn="true"
                    :perPage="5"
                />
                <div class="d-flex justify-end pt-7" >
                    <v-btn color="primary" outlined @click="dialogPersons=false">Cerrar</v-btn>
                </div>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogChiefs" max-width="1200" >
              <v-card class="py-8 px-8">
                <v-card-text class="text-center text-h5 font-weight-bold black--text">Selecione un jefe de familia</v-card-text>
                <data-table
                    :headers="headersFamilyChief"
                    :items="familyChiefs" 
                    :loading="loadingFamilyChiefs"
                    @clickSelect="selectFamilyChief($event)"       
                    :viewBtn="false"
                    :editBtn="false"
                    :deleteBtn="false"
                    :selectBtn="true"
                    :perPage="5"
                />
                <div class="d-flex justify-end pt-7" >
                    <v-btn color="primary" outlined @click="dialogChiefs=false">Cerrar</v-btn>
                </div>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import {mapState,/*mapMutations,*/mapActions} from 'vuex';


export default {
    props:{
        isEditing:{
            type:Boolean,
            default:false
        }
    },
    data(){
        return{
            data:{
                person: '',
                relationship: 'Hijo',
                chief: '',
            },
            namePerson:'',
            nameChief:'',
            typesRelationships:[
               'Padre', 'Madre', 'Hijo', 'Tio/a', 'Primo/a', 'Sobrino/a', 'Abuelo/a' 
            ],
            dialogChiefs:false,
            dialogPersons:false,
            headersPersons: [
                /*{ text: "ID", value: 'id',sortable:true},*/
                { text: "Cedula", value: 'dni',sortable:true},
                { text: "Nombres", value: 'name',sortable:true},
                { text: "Apellidos", value: 'lastName',sortable:true},
                { text: "Fecha de nacimiento", value: 'bornDate',sortable:true},
                { text: "Genero", value: 'gender',sortable:true},
                { text: "Acciones", value: 'actions',sortable:false},
            ],
            headersFamilyChief: [
                /*{ text: "ID", value: 'id',sortable:true},*/
                { text: "N° de hogar", value: 'home.n_home',sortable:true},
                { text: "Cedula", value: 'person.dni',sortable:true},
                { text: "Nombres", value: 'person.name',sortable:true},
                { text: "Apellidos", value: 'person.lastName',sortable:true},
                { text: "Propiedad", value: 'property',sortable:true},
                { text: "Numero de telefono", value: 'numberPhone',sortable:true},
                { text: "Acciones", value: 'actions',sortable:false},
            ],
        }
    },

    computed:{
        ...mapState('familyGroups',['familyGroup']),
        ...mapState('familyChiefs',['familyChiefs']),
        ...mapState("familyChiefs", {
            loadingFamilyChiefs: (state) => state.loading,
        }),
        ...mapState('persons',['persons']),
        ...mapState("persons", {
            loadingPersons: (state) => state.loading,
        }),
    },

    methods:{
        ...mapActions('familyGroups',['saveFamilyGroup','getOneFamilyGroup','editFamilyGroup']),
        ...mapActions('familyChiefs',['listFamilyChiefs']),
        ...mapActions('persons',['listPersons']),
        selectPerson(person){
            this.data.person = person.id
            this.namePerson = person.name + ' ' + person.lastName
            this.dialogPersons = false
        },
        selectFamilyChief(familyChief){
            this.data.chief = familyChief.id
            this.nameChief = familyChief.person.name + ' ' + familyChief.person.lastName
            this.dialogChiefs = false 
        },
        registerFamilyGroup(){
            this.saveFamilyGroup(this.data).then((res) => {
                this.$swal.fire({
                    icon: 'success',
                    title: `Grupo familiar registrado con exito`,
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
                this.$router.push('/admin/familyGroups')
            })
            .catch((error) => {
                console.error(error,'error while saving familyChief')
                let text = 'Ha ocurrido un error al registrar el Grupo familiar'
                if(error.code == 23505){
                    text = `El habitante: ${this.namePerson} ya se encuentra asignado al jefe familiar: ${this.nameChief}` 
                }
                this.$swal.fire({
                    icon: 'error',
                    title: text,
                    text:'',
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
            })
        },

        getInfoFamilyGroup(){
            this.getOneFamilyGroup(this.$route.params.id).then((res) => {
                //console.log(this.home,'aaaaa')
                this.data.person = this.familyGroup.person.id
                this.data.id = this.familyGroup.person.id
                this.data.relationship = this.familyGroup.relationship
                this.data.chief = this.familyGroup.chief.id

                this.namePerson = this.familyGroup.person.name + ' ' +  this.familyGroup.person.lastName
                this.nameChief = this.familyGroup.chief.person.name + ' ' + this.familyGroup.chief.person.lastName
            })
            .catch((error) => {
                console.error(error,'error while getting familyGroup')
                this.$router.push('/admin/familyGroups')
            })
        },

        editFamilyGroupButton(){
            this.editFamilyGroup(this.data).then((res) => {
                this.$swal.fire({
                    icon: 'success',
                    title: `Grupo familiar editado con exito`,
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
                this.$router.push('/admin/familyGroups')
            })
            .catch((error) => {
                console.error(error,'error while editing familyGroup')
                let text = 'Ha ocurrido un error al editar el Grupo familiar'
                if(error.code == 23505){
                      text = `El habitante: ${this.namePerson} ya se encuentra asignado al jefe familiar: ${this.nameChief}` 
                }
                this.$swal.fire({
                    icon: 'error',
                    title: text,
                    text:'',
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
            })
        }
    },
    async created(){
        if(this.isEditing){
            Promise.all([this.listFamilyChiefs(),this.listPersons(),this.getInfoFamilyGroup()]).then(values=>{
            //console.log(values)
            })
        }
        else{
            Promise.all([this.listFamilyChiefs(),this.listPersons()]).then(values=>{
            //console.log(values)
            })
        }
    }
}
</script>