<template>
    <div style="padding-top:3px">
        <v-breadcrumbs
        :items="items"
        class="d-flex justify-end py-0 styled-breadcrumbs-a"
        ></v-breadcrumbs> 
    </div>
</template>
<script >


export default {
    name: 'BreadCrumbs',
    props: ['items'],
}
</script>

