<template>
    <v-row>
        <v-col md="5" sm="8" cols="12">
        <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar"
            single-line
            hide-details
        ></v-text-field>
        </v-col>
        <v-col cols="12">
            <v-data-table
                :headers="headers"
                :items="items"
                class="elevation-1"   
                :loading="loading"                   
                :page.sync="page"
                :items-per-page="perPage"
                hide-default-footer
                :search="search"
                :disable-sort="false"
                @page-count="pageCount = $event" 
            >
                <template  v-slot:[`item.bornDate`]="{ item }">
                   <v-card-text class="px-0 ">{{computedDateDDMMYYYY(item.bornDate)}}</v-card-text>
                </template> 
                <template  v-slot:[`item.familyChiefName`]="{ item }">
                   <v-card-text class="px-0 ">{{item.chief.person.name + ' ' + item.chief.person.lastName}}</v-card-text>
                </template> 
                <template v-slot:no-data>
                <v-card-text class="black--text">No hay registros disponibles</v-card-text>
                </template>
                <template v-slot:loading>
                <v-card-text class="black--text">Cargando... Por favor espere</v-card-text>
                </template>
                <template v-slot:no-results>
                <v-card-text class="black--text">No hay resultados de la busqueda</v-card-text>
                </template>
                <template v-slot:[`item.actions`]="{ item }">
                    <v-container class="px-0 py-0" style="width:130px">

                            <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">                                            
                                <v-btn 
                                    v-bind="attrs"
                                    v-on="on"
                                    @click="clickView(item)"
                                    v-if="viewBtn"
                                    small 
                                    icon
                                    class="my-1"
                                    fab
                                    depressed
                                    color="info">
                                    <v-icon>
                                        mdi-eye
                                    </v-icon>
                                </v-btn>
                            </template>
                            <span>Ver</span>
                            </v-tooltip>

                           <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn 
                                    @click="clickEdit(item)"
                                    v-if="editBtn"
                                    small
                                    depressed
                                    v-bind="attrs"
                                    v-on="on"
                                    icon
                                    fab                                     
                                    class="my-1" 
                                    color="warning">
                                    <v-icon>
                                        mdi-pencil
                                    </v-icon>
                                </v-btn>
                            </template>
                            <span>Editar</span>
                            </v-tooltip>

                            <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                                  <v-btn
                                    v-bind="attrs"
                                    v-on="on"
                                    @click="clickDelete(item)"
                                    v-if="deleteBtn"
                                    dark
                                    icon
                                    fab                               
                                    class="my-1"
                                    small
                                    depressed
                                    color="red">
                                    <v-icon>
                                        mdi-delete
                                    </v-icon>
                                </v-btn>    
                            </template>
                            <span>Borrar</span>
                            </v-tooltip>
                           
                            <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                                  <v-btn 
                                  v-bind="attrs"
                                    v-on="on"
                                    @click="clickSelect(item)"
                                    v-if="selectBtn"
                                    small 
                                    icon
                                    fab
                                    class="my-1"
                                    depressed
                                    color="success">
                                    <v-icon>
                                        mdi-checkbox-marked-circle
                                    </v-icon>
                                </v-btn>
                            </template>
                            <span>Seleccionar</span>
                            </v-tooltip>
                    </v-container>
                </template>
            </v-data-table>
        </v-col>

        <v-col cols="12" class="d-flex justify-end text-right" v-if="viewPagination">
            <v-pagination 
            v-model="page"
            :length="pageCount"
            ></v-pagination>
        </v-col>
    </v-row>
</template>

<script>
import moment from 'moment'
export default {
    data(){
        return {
            pageCount: 0,
            search: '',
            page:1
        }
    },
    props:{
        items: {
            type: Array,
            default: []
        },
        headers: {
            type: Array,
            default: []
        },
        viewBtn: {
            type: Boolean,
            default: true
        },
        editBtn: {
            type: Boolean,
            default: true
        },
        deleteBtn: {
            type: Boolean,
            default: true
        },
        selectBtn: {
            type: Boolean,
            default: false
        },
        loading: {
            type: Boolean,
            default: true
        },
        perPage: {
            type: Number,
            default: 8
        },
        viewPagination: {
            type: Boolean,
            default: true
        }
    },
    computed:{
      
    },

    methods:{
        clickView(item){
            this.$emit('clickView', item);
        },

        clickEdit(item){
            this.$emit('clickEdit', item);
        },

        clickDelete(item){
            this.$emit('clickDelete', item);
        },
        clickSelect(item){
            this.$emit('clickSelect', item);
        },

        computedDateDDMMYYYY(date){
            return date ? moment(date).format('DD/MM/YYYY') : ''
        },
        computedDateLL(date){
            return date ? moment(date).locale('es').format('LL') : ''
        },
    }
}
</script>