<template>
    <div>
        <v-btn
        text
        small
        class="text-capitalize btn-goBack"
        color="primary"
        @click="$router.back()"
        >
        <v-icon>mdi-arrow-left</v-icon>Volver  <span class="text-lowercase pl-1">atrás</span></v-btn>
    </div>
</template>
<script >
export default {
    name: 'GoBackButton',
}
</script>