<template>
    <div>
        <ValidationObserver v-slot="{ invalid }">
            <v-row justify="start" align="center" class="pt-4 pb-10">
                <v-col  cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Id del habitante
                    </h3>
                    <ValidationProvider name="Id del habitante" rules="required" v-slot="{ errors }">
                        <div class="d-flex"  :class="($vuetify.breakpoint.xsOnly) ? 'flex-column' : ''">
                            <v-text-field
                                dense
                                outlined
                                disabled
                                :filled="data.id == ''"
                                persistent-placeholder
                                type="text"
                                placeholder="Por favor selecione un habitante"
                                :error-messages="errors[0]"
                                v-model.trim="data.id"
                                >
                            </v-text-field>
                            <v-btn
                                color="primary"
                                class="ml-0 mb-4 ml-sm-4 mb-sm-0"
                                @click="dialogPersons=true"
                                >
                                    Buscar habitante
                            </v-btn>
                        </div>
                    </ValidationProvider>
                </v-col>
                 <v-col  cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Correo electronico 
                    </h3>
                    <ValidationProvider name="Correo electronico " rules="required|email" v-slot="{ errors }">
                        <v-text-field
                            dense
                            outlined
                            persistent-placeholder
                            type="text"
                            placeholder="ingrese el Correo electronico"
                            :error-messages="errors[0]"
                            v-model.trim="data.email"
                            >
                        </v-text-field>
                    </ValidationProvider>
                </v-col>
                <v-col md="6" cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Contraseña 
                    </h3>
                    <ValidationProvider name="Contraseña"  vid="confirmation2"  rules="confirmed:confirmation|required|min:8" v-slot="{ errors }">
                        <v-text-field
                            dense
                            outlined
                            persistent-placeholder
                            type="password"
                            placeholder="ingrese la contraseña"
                            :error-messages="errors[0]"
                            v-model.trim="data.password"
                            >
                        </v-text-field>
                    </ValidationProvider>
                </v-col>
                <v-col md="6" cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Confirmar Contraseña 
                    </h3>
                    <ValidationProvider name="Confirmar Contraseña" vid="confirmation" rules="confirmed:confirmation2|required|min:8" v-slot="{ errors }">
                        <v-text-field
                            dense
                            outlined
                            persistent-placeholder
                            type="password"
                            placeholder="ingrese el nuevamente la contraseña"
                            :error-messages="errors[0]"
                            v-model.trim="data.confirmPassword"
                            >
                        </v-text-field>
                    </ValidationProvider>
                </v-col>
                <v-col cols="12" class="d-flex justify-end">
                    <v-btn
                    outlined
                    color="primary"
                    class="mr-3"
                    @click="$router.back()"
                    >
                        Cancelar
                    </v-btn>
                    <v-btn
                    color="primary"
                    :disabled="invalid"
                    v-if="!isEditing"
                    @click="registerUser()"
                    >
                        Registrar usuario
                    </v-btn>
                    <v-btn
                    v-else
                    color="primary"
                    :disabled="invalid"
                    @click="editUserButton()"
                    >
                        Editar usuario
                    </v-btn>
                </v-col>
            </v-row>
        </ValidationObserver>
        <v-dialog v-model="dialogPersons" max-width="1200" >
            <v-card class="py-8 px-8">
                <v-card-text class="text-center text-h5 font-weight-bold black--text">Selecione un habitante</v-card-text>
                <data-table
                    :headers="headersPersons"
                    :items="persons" 
                    :loading="loadingPersons"
                    @clickSelect="selectPerson($event)"       
                    :viewBtn="false"
                    :editBtn="false"
                    :deleteBtn="false"
                    :selectBtn="true"
                    :perPage="5"
                />
                <div class="d-flex justify-end pt-7" >
                    <v-btn color="primary" outlined @click="dialogPersons=false">Cerrar</v-btn>
                </div>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import {mapState,/*mapMutations,*/mapActions} from 'vuex';

export default {
    props:{
        isEditing:{
            type:Boolean,
            default:false
        }
    },
    data(){
        return{
            data:{
                id:'',
                email: '',
                password: '',
            },
            confirmPassword:'',
            dialogPersons:false,
            headersPersons: [
                /*{ text: "ID", value: 'id',sortable:true},*/
                { text: "Cedula", value: 'dni',sortable:true},
                { text: "Nombres", value: 'name',sortable:true},
                { text: "Apellidos", value: 'lastName',sortable:true},
                { text: "Fecha de nacimiento", value: 'bornDate',sortable:true},
                { text: "Genero", value: 'gender',sortable:true},
                { text: "Acciones", value: 'actions',sortable:false},
            ],
        }
    },

    computed:{
        ...mapState('users',['user']),
        ...mapState('persons',['persons']),
        ...mapState("persons", {
            loadingPersons: (state) => state.loading,
        }),
    },

    methods:{
        ...mapActions('users',['saveUser','getOneUser','editUser']),
        ...mapActions('persons',['listPersons']),
        selectPerson(person){
            this.data.id = person.id
            this.dialogPersons = false
        },
        registerUser(){
            this.saveUser(this.data).then((res) => {
                this.$swal.fire({
                    icon: 'success',
                    title: `Usuario registrado con exito`,
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
                this.$router.push('/admin/users')
            })
            .catch((error) => {
                console.error(error,'error while saving person')
                let text = 'Ha ocurrido un error al registrar el Usuario'
                if(error.code == 23505){
                    //text = `La cedula: ${this.data.dni} ya se encuentra registrada`
                }
                this.$swal.fire({
                    icon: 'error',
                    title: text,
                    text:'',
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
            })
        },

        getInfoUser(){
            this.getOneUser(this.$route.params.id).then((res) => {
                //console.log(this.home,'aaaaa')
                this.data.dni = this.user.email
                this.data.name = this.user.password
                this.confirmPassword = this.user.password
                this.data.id = this.user.id
            })
            .catch((error) => {
                console.error(error,'error while getting user')
                this.$router.push('/admin/users')
            })
        },

        editUserButton(){
            this.editUser(this.data).then((res) => {
                this.$swal.fire({
                    icon: 'success',
                    title: `Usuario editado con exito`,
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
                this.$router.push('/admin/users')
            })
            .catch((error) => {
                console.error(error,'error while editing user')
                let text = 'Ha ocurrido un error al editar el usuario'
                if(error.code == 23505){
                    //text = `La cedula: ${this.data.dni} ya se encuentra registrada`
                }
                this.$swal.fire({
                    icon: 'error',
                    title: text,
                    text:'',
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
            })
        }
    },
    async created(){
        if(this.isEditing){
            Promise.all([this.listPersons(),this.getInfoUser()]).then(values=>{
            //console.log(values)
            })
        }
        else {
            this.listPersons()
        }
    }
}
</script>