.swal2-container .swal2-popup h2 {
    font-family: 'roboto', sans-serif !important;
}
.swal2-container .swal2-popup div {
    font-family: 'roboto', sans-serif !important;
}
.swal2-container .swal2-popup button {
    font-family: 'roboto', sans-serif !important;
}

.swal2-container  h2 {
    font-family: 'roboto', sans-serif !important;
}
.swal2-container  div {
    font-family: 'roboto', sans-serif !important;
}
.swal2-container button {
    font-family: 'roboto', sans-serif !important;
}

.v-data-table-header th{   
    text-align: center !important;
}
.v-data-table__wrapper tbody tr td{
    text-align: center !important;
}
.v-list-item__icon:last-of-type:not(:only-child) {
    margin-left: 0px !important;
}
.v-data-table-header span{   
    font-size: 13px !important;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center !important;
}
.v-data-table-header  {   
    background-color: #ff6685a1 !important;
}