<template>
  <v-app>
    <v-navigation-drawer 
      v-model="drawer"
      
       class="secondary"
      :clipped="true"
      fixed
      app
    >
      <v-list class="pt-0">
         <v-list-item-group v-model="selectedItem" class="pt-0">
               <v-list-item                
                    class="ma-0 pt-2 pt-md-3 pb-1 pb-md-2"
                    :class="($route.path==='/admin') ? 'background-list-primary' : ''"
                    to="/admin"
                    exact-path
                >
                    <v-list-item-title
                        style="font-size:1.1em;">
                        <v-icon
                            class="mr-0 mr-md-2">
                            mdi-widgets
                        </v-icon>
                        Panel principal                           
                    </v-list-item-title>
                    
                </v-list-item>
            </v-list-item-group>

            <template v-for="(item, index) in items">
                <v-list-group                
                    :key="index"
                    dark
                    color="primary"
                    v-model="item.active"
                    :value="true"
                    class="ml-0 ml-md-2 mr-0 pa-0 custom_item"
                >
                    <template v-slot:activator>
                        <v-list-item-title 
                            class="pa-0 pt-md-5 pb-md-4"
                            style="font-size:1em;">
                            <v-icon
                                class="mr-0 mr-md-2">
                                {{item.icon}}
                            </v-icon>
                            <span class="ml-2 mt-2 mb-2 ml-md-0">{{item.title}}</span>
                        </v-list-item-title>
                    </template>

                    <template  v-for="(action, index) in item.actions">
                        <v-list-item
                            class="pt-0 mb-0 mt-0 mb-0 ml-5 ml-md-9 black--text"
                            :class="($route.path===action.to) ? 'background-list-primary' : ''"
                            dense
                            dark  
                            exact-path
                                                   
                            :key="index"
                            v-model="action.active"
                            :to="action.to">
                            <v-list-item-title
                                class="ma-0 pt-0 pb-0"
                                style="font-size:0.9em;"
                                v-text="action.text" />
                        </v-list-item>
                    </template>
                </v-list-group>
                
            </template>
            
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="true"
      class="white up-navbar px-0 secondary"
      fixed
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" class="mr-3" />
      <nuxt-link to="/admin" class="d-flex align-center mr-4">
          <img src="@/static/icon200.png" alt="logo-admin" style="height: 30px;">
      </nuxt-link>
      <span style="font-size:20px" v-if="!$vuetify.breakpoint.xsOnly">
        {{title}}</span>
      <!--<v-toolbar-title v-text="title" /> -->
      <v-spacer />
           <v-menu
            bottom
            left            
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                dark
                icon
                v-bind="attrs"
                v-on="on"
                class="mr-1"
              >
                <v-avatar color="primary">
                  <v-icon dark>
                    mdi-account-circle
                  </v-icon>
                  <!-- <img
                    src="https://cdn.vuetifyjs.com/images/john.jpg"
                    alt="John"
                  > -->
                </v-avatar>
              </v-btn>
            </template>

          <v-list>
              <v-list-item
                  to="/admin/profile/changePassword"
                  class="ma-0"
                  style="height:30px;">
                  <v-list-item-icon class="mx-2">
                      <v-icon size="1.25em">mdi-lock-reset</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                      <v-list-item-title>Cambiar contraseña</v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
              <v-list-item
                  @click="handlerLogout()"
                  class="ma-0"
                  style="height:30px;">
                  <v-list-item-icon class="mx-2">
                      <v-icon size="1.25em">mdi-logout-variant</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                      <v-list-item-title>Cerrar sesion</v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-menu>
    
    </v-app-bar>
    <v-main style="background-color:#EDEDED !important;"
>
      <v-container fluid>
        <Nuxt />
      </v-container>
    </v-main>
   
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      selectedItem: 1,
      drawer: true,
      items: [
         {
          title: 'Hogares',
          icon: 'mdi-home-group',
          actions: [
              {
                  text: 'Listar hogares', 
                  to: '/admin/homes', 
                  active: false
              },
              {
                  text: 'Registrar hogar', 
                  to: '/admin/homes/create', 
                  active: false
              },
          ],
          active: false
        },
        {
          title: 'Habitantes',
          icon: 'mdi-human-queue',
          actions: [
              {
                  text: 'Listar habitantes', 
                  to: '/admin/persons', 
                  active: false
              },
              {
                  text: 'Registrar habitante', 
                  to: '/admin/persons/create', 
                  active: false
              },
          ],
          active: false
        },
        {
          title: 'Jefes de familia',
          icon: 'mdi-human-greeting-variant',
          actions: [
              {
                  text: 'Listar Jefes de familia', 
                  to: '/admin/familyChiefs', 
                  active: false
              },
              {
                  text: 'Registrar Jefe de familia', 
                  to: '/admin/familyChiefs/create', 
                  active: false
              },
          ],
          active: false
        },
        {
          title: 'Grupos familiares',
          icon: 'mdi-human-male-female-child',
          actions: [
              {
                  text: 'Listar Grupos familiares', 
                  to: '/admin/familyGroups', 
                  active: false
              },
              {
                  text: 'Registrar Grupo familiar', 
                  to: '/admin/familyGroups/create', 
                  active: false
              },
          ],
          active: false
        },/*
        {
          title: 'Usuarios',
          icon: 'mdi-account-group',
          actions: [
              {
                  text: 'Listar Usuarios', 
                  to: '/admin/users', 
                  active: false
              },
              {
                  text: 'Registrar Usuario', 
                  to: '/admin/users/create', 
                  active: false
              },
          ],
          active: false
        },*/
      ],
      title: 'Ciudad Salud'
    }
  },
  methods: {
    async handlerLogout() {
      await this.$auth.logout();
      this.$router.push('/')
    },
  },
}
</script>
<style>
  .background-list-primary{
    background-color: #ff7792 !important;
  }
  .v-list-item--link:before {
    background-color: #ffffff00 !important;
  }
</style>