<template>
  <v-app>
    <v-main class="background-login"
>
      <v-container fluid fill-height>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  methods: {
  },
}
</script>

<style>
   .background-login{
        padding-top: 10rem;
        padding-bottom: calc(10rem - 4.5rem);
        background: linear-gradient(to right, rgba(49, 45, 45, 0) 0%, rgba(0, 0, 0, 0) 100%), url("@/static/ciudadsalud.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
</style>