<template>
    <div>
        <ValidationObserver v-slot="{ invalid }">
            <v-row justify="start" align="center" class="pt-4 pb-10">
                 <v-col md="6" cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Nombres
                    </h3>
                    <ValidationProvider name="Nombres" rules="required" v-slot="{ errors }">
                        <v-text-field
                            dense
                            outlined
                            persistent-placeholder
                            type="text"
                            placeholder="ingrese los nombres"
                            @keypress="isLetter($event)"
                            :error-messages="errors[0]"
                            v-model.trim="data.name"
                            >
                        </v-text-field>
                    </ValidationProvider>
                </v-col>
                <v-col md="6" cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Apellidos 
                    </h3>
                    <ValidationProvider name="Apellidos" rules="required" v-slot="{ errors }">
                        <v-text-field
                            dense
                            outlined
                            persistent-placeholder
                            type="text"
                            placeholder="ingrese los apellidos"
                            @keypress="isLetter($event)"
                            :error-messages="errors[0]"
                            v-model.trim="data.lastName"
                            >
                        </v-text-field>
                    </ValidationProvider>
                </v-col>
                <v-col md="6" cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Cedula 
                    </h3>
                    <ValidationProvider name="Cedula" rules="required" v-slot="{ errors }">
                        <v-text-field
                            dense
                            outlined
                            @keypress="isNumber($event)"
                            persistent-placeholder
                            type="text"
                            placeholder="ingrese el numero cedula"
                            :error-messages="errors[0]"
                            v-model.trim="data.dni"
                            >
                        </v-text-field>
                    </ValidationProvider>
                </v-col>
                <v-col md="6" cols="12" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Fecha de nacimiento
                    </h3>
                        <v-menu
                            v-model="menu"
                            :close-on-content-click="false"
                            max-width="290"
                            >
                            <template v-slot:activator="{ on, attrs }">
                                <ValidationProvider name="Fecha de nacimiento" rules="required" v-slot="{ errors }">
                                    <v-text-field
                                    :value="computedDateFormattedMomentjs"
                                    class="rounded-lg"
                                    dense
                                    outlined
                                    placeholder="00/00/0000"
                                    :error-messages="errors[0]"
                                    type="text"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                                    @click:clear="date = null"
                                    ></v-text-field>
                                </ValidationProvider>
                            </template>
                            <v-date-picker
                                color="primary"
                                header-color="primary"
                                v-model="data.bornDate"
                                :max=actualDate
                                @change="menu = false"
                                locale="es-us"
                            ></v-date-picker>
                            </v-menu>
                </v-col>
                <v-col  cols="12" md="6" class="pb-0 pt-1" >
                    <h3 class="font-weight-medium">
                        Sexo
                    </h3>
                    <ValidationProvider name="Sexo" rules="required" v-slot="{ errors }">
                        <v-select
                            placeholder="Seleccione el sexo del habitante"
                            persistent-placeholder
                            outlined
                            :error-messages="errors[0]"
                            dense
                            :items="genders"
                            v-model="data.gender"
                        ></v-select>
                    </ValidationProvider>
                </v-col>
                <v-col cols="12" class="d-flex justify-end">
                    <v-btn
                    outlined
                    color="primary"
                    class="mr-3"
                    @click="$router.back()"
                    >
                        Cancelar
                    </v-btn>
                    <v-btn
                    color="primary"
                    :disabled="invalid"
                    v-if="!isEditing"
                    @click="registerPerson()"
                    >
                        Registrar habitante
                    </v-btn>
                    <v-btn
                    v-else
                    color="primary"
                    :disabled="invalid"
                    @click="editPersonButton()"
                    >
                        Editar habitante
                    </v-btn>
                </v-col>
            </v-row>
        </ValidationObserver>
    </div>
</template>

<script>
import {mapState,/*mapMutations,*/mapActions} from 'vuex';
import moment from 'moment'

export default {
    props:{
        isEditing:{
            type:Boolean,
            default:false
        }
    },
    data(){
        return{
            data:{
                dni: '',
                name: '',
                lastName: '',
                bornDate: "",
                gender: "Masculino"
            },
            genders:[
                'Masculino','Femenino'
            ],
            actualDate:'',
            menu:false
        }
    },

    computed:{
        ...mapState('persons',['person']),
        computedDateFormattedMomentjs () {
            return this.data.bornDate ? moment(this.data.bornDate).format('DD/MM/YYYY') : ''
        },

    },

    methods:{
        ...mapActions('persons',['savePerson','getOnePerson','editPerson']),
        isLetter(e) {
            let char = String.fromCharCode(e.keyCode); // Get the character
            if(/^[A-Za-z\u00C0-\u017F\s]+$/i.test(char)) return true; // Match with regex 
            else e.preventDefault(); // If not match, don't add to input text
        },
        isNumber(e) {
            let char = String.fromCharCode(e.keyCode); // Get the character
            if(/^[0-9]+$/i.test(char))return true; // Match with regex 
            else e.preventDefault(); // If not match, don't add to input text
        },
        registerPerson(){
            this.savePerson(this.data).then((res) => {
                this.$swal.fire({
                    icon: 'success',
                    title: `Habitante registrado con exito`,
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
                this.$router.push('/admin/persons')
            })
            .catch((error) => {
                console.error(error,'error while saving person')
                let text = 'Ha ocurrido un error al registrar el habitante'
                if(error.code == 23505){
                    text = `La cedula: ${this.data.dni} ya se encuentra registrada`
                }
                this.$swal.fire({
                    icon: 'error',
                    title: text,
                    text:'',
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
            })
        },

        getInfoPerson(){
            this.getOnePerson(this.$route.params.id).then((res) => {
                //console.log(this.home,'aaaaa')
                this.data.dni = this.person.dni
                this.data.name = this.person.name
                this.data.lastName = this.person.lastName
                this.data.bornDate = moment(this.person.bornDate).format('YYYY-MM-DD')
                this.data.gender = this.person.gender
                this.data.id = this.person.id
            })
            .catch((error) => {
                console.error(error,'error while getting person')
                //this.$router.push('/admin/persons')
            })
        },

        editPersonButton(){
            this.editPerson(this.data).then((res) => {
                this.$swal.fire({
                    icon: 'success',
                    title: `Habitante editado con exito`,
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
                this.$router.push('/admin/persons')
            })
            .catch((error) => {
                console.error(error,'error while editing person')
                let text = 'Ha ocurrido un error al editar el habitante'
                if(error.code == 23505){
                    text = `La cedula: ${this.data.dni} ya se encuentra registrada`
                }
                this.$swal.fire({
                    icon: 'error',
                    title: text,
                    text:'',
                    showConfirmButton: false,
                    timer: 5000,
                    position: 'bottom-end',
                    timerProgressBar: true,
                    toast: true,
                    showCloseButton: true
                })
            })
        }
    },
    async created(){
        this.actualDate = (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)
        if(this.isEditing){
            this.getInfoPerson()
        }
    }
}
</script>