<template>
  <v-row justify="center" align="center" class="">
    <v-col cols="12" class="d-flex justify-space-between mt-1">
      <go-back-button/>
      <bread-crumbs :items="breadcrumbsItems"/>
    </v-col>
    <v-col cols="12" class="px-6 pt-0">
      <v-card elevation="9" class="px-8">
          <div class="d-flex justify-space-between align-end pt-5">
              <v-card-text class="text-h4 black--text font-weight-bold px-0">Registrar hogar</v-card-text>
          </div>
          <home-form/>
      </v-card>
    </v-col>
    <loading-overlay :overlay="loading"/>
  </v-row>
</template>

<script>
import {mapState,/*mapMutations,mapActions*/} from 'vuex';
import GoBackButton from '@/components/GoBackButton.vue';
import BreadCrumbs from '@/components/BreadCrumbs.vue';
import LoadingOverlay from '@/components/LoadingOverlay.vue';
import HomeForm from '@/components/admin/homes/HomeForm.vue';

export default {
  components:{
    GoBackButton,
    BreadCrumbs,
    HomeForm,
    LoadingOverlay
  },

  data(){
    return{
       breadcrumbsItems: [ //props de el breadcrumbs
          {
          text: 'Hogares',
          disabled: false,
          href: '/admin/homes',
          },
          {
          text: 'Registrar Hogar',
          disabled: true,
          href: '#',
          },
      ],
    }
  },
  computed:{
    ...mapState('homes',['loading']),
  },
  methods:{
  },
  async created(){
  }
}
</script>