<template>
    <v-row  class="d-flex justify-center align-center">
      <v-col cols="12" sm="7" md="5" lg="4" xl="3" >
        <v-card class="d-flex justify-center rounded-lg" elevation="8">
             <ValidationObserver v-slot="{ invalid }">
                
          <v-row justify="center" class="py-8 pb-12 px-4 px-sm-10 px-md-12 ">
              <v-col cols="12">
                <div class="d-flex align-center justify-center" style="width:100%">
                    <img src="@/static/icon200.png" alt="logo-admin" style="height: 45px;">
                </div>
                  <v-card-text class="text-h5 font-weight-bold text-center pt-2">Sistema de registro de habitantes de Ciudad Salud</v-card-text>
              </v-col>

                    <v-col cols="12" class="py-0">
                            <ValidationProvider name="Correo electronico" rules="required" v-slot="{ errors }">
                                <h4>Correo electronico</h4>
                                <v-text-field                                    
                                    outlined
                                    persistent-placeholder
                                    type="text"
                                    dense
                                    placeholder="Correo electronico"
                                    v-model.trim="data.email"
                                    :error-messages="errors[0]"
                                    class="mt-0 pt-0"
                                    maxlength="50">
                                </v-text-field>
                            </ValidationProvider>
                        </v-col>

                        <v-col cols="12" class="py-0">
                            <ValidationProvider name="Contraseña" rules="required" v-slot="{ errors }">
                                <h4>Contraseña</h4>
                                <v-text-field                                    
                                    outlined
                                    dense
                                    persistent-placeholder
                                    placeholder="Coloque su contraseña"
                                    type="password"
                                    class="mt-0 pt-0 pb-2"
                                    :error-messages="errors[0]"
                                    maxlength="15"
                                    v-model.trim="data.password">
                                </v-text-field>
                            </ValidationProvider>
                        </v-col>

              <v-btn color="primary" class="px-8" :disabled=invalid @click="login">
                Ingresar
              </v-btn>
              </v-row>
          
                </ValidationObserver >
        </v-card>
    </v-col>
      <v-alert
            dense
            type="error"
            class="alert-register ml-16 text-left "
            v-if="alert"
            absolute
          >
            Datos incorrectos del usuario
          </v-alert>
      <loading-overlay :overlay="overlay"/>
  </v-row>
</template>
<script>
import {mapState,mapMutations} from 'vuex';
import LoadingOverlay from '@/components/LoadingOverlay.vue';

export default {
  components:{
    LoadingOverlay
  },
  layout:'login',
  data() {
    return {
        data: {
            email: "",
            password: ""
        },
        alert:false,
        overlay:false
    }
  },
  methods:{
    async login(){
        this.overlay=true
        try {
            let response= await this.$auth.loginWith('local', {
                data: this.data
            })
            this.overlay=false
            console.log(response)
        }
        catch(error){
            let errorMessage= error.response.data.message;
            if (errorMessage == 'Login user or password does not match.') {
                errorMessage = 'La contraseña o el usuario es invalido'
            }
            this.overlay=false
            this.$swal.fire({
                title: "Ha ocurrido un error",
                text: `${errorMessage}`,
                icon: 'error',
                confirmButtonText: 'Aceptar',
            });                         
        }
        console.log(this.$auth)
        if (this.$auth.loggedIn)                
            this.$router.push('/admin');  

    },
    loginb(){
        this.$axios.post(`/auth/login`,this.data).then((res) => {
            console.log(res.data)
        }).catch(error => {
            console.log(error.data)
        })
      
    }

  }
}
</script>
<style>
    .alert-register{
        position: absolute;
        bottom: 15px; right: 45px;
    }
</style>