<template>
  <v-row justify="center" align="center" class="">
    <v-col cols="12" class="d-flex justify-space-between mt-1">
      <go-back-button/>
      <bread-crumbs :items="breadcrumbsItems"/>
    </v-col>
    <v-col cols="12" class="px-6 pt-0">
      <v-card elevation="9" class="px-8 pb-8">
          <div class="d-flex justify-center justify-sm-space-between align-end pt-5" :class="($vuetify.breakpoint.xsOnly) ? 'flex-column' : ''">
              <v-card-text class="text-h4 black--text font-weight-bold px-0 pb-7 pb-sm-3 text-center
              text-sm-left">Listado de grupos familiares</v-card-text>
              <v-btn outlined color="primary" to="/admin/familyGroups/create">Registrar grupo familiar</v-btn>
          </div>
          <data-table
            :headers="headers"
            :items="familyGroups" 
            :loading="loading"
            @clickView="goToView($event)"       
            @clickEdit="goToEdit($event)"                         
            @clickDelete="goToDelete($event)"
            :viewBtn="false"
        />
      </v-card>
    </v-col>
    <loading-overlay :overlay="overlay"/>
  </v-row>
</template>

<script>
import {mapState,/*mapMutations,*/mapActions} from 'vuex';
import GoBackButton from '@/components/GoBackButton.vue';
import DataTable from '@/components/DataTable.vue';
import BreadCrumbs from '@/components/BreadCrumbs.vue';
import LoadingOverlay from '@/components/LoadingOverlay.vue';

export default {
  components:{
    GoBackButton,
    BreadCrumbs,
    DataTable,
    LoadingOverlay
  },

  data(){
    return{
       breadcrumbsItems: [ //props de el breadcrumbs
          {
          text: 'Grupos familiares',
          disabled: false,
          href: '/admin/familyGroups',
          },
          {
          text: 'Listar grupos familiares',
          disabled: true,
          href: '#',
          },
      ],
      headers: [
          /*{ text: "ID", value: 'id',sortable:true},*/
          { text: "Cedula", value: 'person.dni',sortable:true},
          { text: "Nombres", value: 'person.name',sortable:true},
          { text: "Apellidos", value: 'person.lastName',sortable:true},
          { text: "Jefe de familia", value: 'familyChiefName',sortable:true},
          { text: "Relacion", value: 'relationship',sortable:true},
          { text: "N° de hogar", value: 'chief.home.n_home',sortable:true},
          { text: "Acciones", value: 'actions',sortable:false},
      ],
    }
  },

  computed:{
    ...mapState('familyGroups',['familyGroups','loading','overlay']),
  },

  methods:{
    ...mapActions('familyGroups',['listFamilyGroups','destroyFamilyGroup']),
    goToEdit(familyGroup){
      this.$router.push(`/admin/familyGroups/${familyGroup.person.id}/edit`)
    },
    goToDelete(familyGroup){
        this.$swal.fire({
            title: `¿Está seguro de borrar el grupo de familia seleccionado?`,
            text: "Esta acción no podrá ser revertida.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
              this.deletefamilyGroup(familyGroup)
            }
        })
    },
    deletefamilyGroup(familyGroup){
       this.destroyFamilyGroup(familyGroup.person.id).then((res) => {
          this.$swal.fire({
              icon: 'success',
              title: `Grupo de familia eliminado con exito`,
              showConfirmButton: false,
              timer: 5000,
              position: 'bottom-end',
              timerProgressBar: true,
              toast: true,
              showCloseButton: true
          })
      })
      .catch((error) => {
          console.error(error,'error while deleting familyGroup')
          this.$swal.fire({
              icon: 'error',
              title: `Ha ocurrido un error al eliminar el grupo de familia`,
              text:'',
              showConfirmButton: false,
              timer: 5000,
              position: 'bottom-end',
              timerProgressBar: true,
              toast: true,
              showCloseButton: true
          })
      })
    }
  },

  async created(){
    await this.listFamilyGroups()
  }
}
</script>